.login-wrap {
    width: 100%;
    background-color: #d3d3d32b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border: 1px solid white;
    width: 80%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.label {
    margin-bottom: 10px;
}

.user-input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.action-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.action-btn {
    width: 80px;
    height: 30px;
}